<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo-container">
      <img src="./assets/img/logo.png" alt="logo">
    </div>
    <div class="text-container">
      <a class="navbar-brand" routerLink="/">Opinion Poll</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"
            href>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="create">Create an Opinion Poll</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="display">See All Opinion Polls</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
