.logo-container {
 img {
    height: 48px;
    margin-right: 16px;
 }
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    font-weight: bold;
}